/* Popup Styles */
.popup-overlay-registration {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .popup-registration {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    max-width: 400px;
  }
  
  
  .popup-heading-registration {
    color: #333;
  }
  
  .popup-para-registration {
    color: #666;
    font-size: medium;
  }
  
  .sucessIcon-registration{
    height: 50px;
  width: 50px;
  position: absolute;
  top: -5px;
  left: 42%;
  padding: 2px;
  border: 4px solid #2cff0e;
  border-radius: 50%;
  }