
.popup-roombooking {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-modal {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 950px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    padding-top: 15px;
  }
  
  .CloseBtn {
    padding: 4px 8px;
    background-color: #00aaf9;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .poupmodalHeader {
    margin: 0px;
    color: #0072cfe4;
    text-align: center;
  }
  
  .guestHouseDetails {
    max-width: 250px;
    width: 100%;
    background-color: #00aaf94b;
    padding: 20px;
    border-radius: 10px;
  }
  
  p {
    margin: 0px;
    font-size: medium;
  }
  
  .guestHouseName-Modal {
    color: #0072cfe4;
    font-size: x-large;
    text-align: center;
    margin-bottom: 4px;
  }
  
  .allGuestHouses-modal {
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .totalRoomsAvailable {
    text-align: center;
    font-size: 17px;
    color: rgb(65, 62, 62);
    margin: 4px 0px;
    font-weight: bolder;
  }
  
  .h4 {
    margin: 0px;
  }
  
  
  @media (max-width: 768px) {
    .modal {
      max-width: 100%; 
      width: 300px;
      height: 600px;
      max-height: 100%; 
      font-size: smaller;
    }
  
    .modalHeader {
      font-size: small; 
    }
    .guestHouseName-Modal {
        color: #0072cfe4;
        font-size: small;
        text-align: center;
        margin-bottom: 4px;
      }
  
    .guestHouseDetails {
      max-width: 100%; 
    }
  }
  