/* Popup Styles */
.popup-overlay-booking {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-booking {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  max-width: 400px;
}

.popup-para-booking {
  color: #121111;
  font-size: 20px;
}

.sucessIcon-booking{
  height: 40px;
  width: 40px;
  margin-bottom: 7px;
}

.popupClose-booking{
  margin-top: 5px;
}