.outer-container{
    display: flex;
    width: 100%;
    justify-content: space-between; 
}
.box{
    width : 20rem;
    height : 10rem;
    box-shadow: 2px 5px 10px rgb(56, 56, 56);
    border-radius: 5%;
    padding : 2rem;
    margin  : 2rem;
}
.box:hover{
    background-color: rgb(218, 232, 239);
}
.h2{
    color : #008cff;  
}