
.dash-menu{
    width: 100vw;
   min-height: 100vh;
    display: flex;
    font-family: 'Poppins' !important;


}
.dash-sidebar{
   min-height: 100vh;
    width: 400px;
    position: sticky;
    top: 0;
    background-color: rgb(39, 92, 182);
}
.dash-wrapper{
    padding-top: 20px;
    padding-left: 30px;
}
.dash-area{
    width: 50vw;
    /* display: flex; */
    height: 70vh;
    /* align-items: center; */
    /* justify-content: center; */
    margin: 50px;
    padding: 50px;
   
}
.dash-box{
    box-shadow: 5px 5px 10px rgb(187, 184, 184), -5px -5px 10px rgb(167, 167, 167);
    border-radius: 20px;
    /* background-color: #f9f9f9; */
    padding: 20px;
  
/* overflow: scroll; */
width: 77vw;
height:35vw;

}

.dash-sidebar li{
    list-style: none;
    padding: 20px;
}

.dash-optn{
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    color: white;
    background-color: #032c61;
}

.dash-optn:hover{
   background-color: rgb(1, 31, 78);
}
.side-title{
    background-color: #b9b9b900;
    /* margin: 20px 0; */
    padding-left: 10px;
    padding-top: 10px;
    text-align:left;
    color: #c7c7c7;
    font-size: 25px;
    width: 50%;
}

.admin-header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    color: white;
    font-weight: 700;
    background-color: #468de9;
}
.admin-title{
    width: fit-content;
    color: white;
    width: 90%;
    padding-top: 30px;
    margin-left: 25px;
   
    

    font-size: 40px;
    
    
    text-align: center;
}
.admin-title span{
    display: flex;
    align-items: center;

}
.admin-title span svg{
   font-size: 50px; 
}

.dash-optn span{
    display: flex;
    align-items: center;
}
.dash-optn span svg{
    margin: 0 5px;
}
