.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.registration-optn {
  display: flex;
  justify-content: space-evenly;
  transition: all 0.5s ;

  margin: 25px 20px;
  border-radius: 10px;
  /* box-shadow: 6px 8px 10px rgb(98, 180, 253),-4px -5px 10px rgb(155, 208, 255); */
  padding: 10px 20px;
  position: absolute;
  bottom: 40%;
  align-items: center;
  
}
.reg-form-wrapper{
  position: relative;
}
.register-optn-wrapper {
  
  width: 100%;
    height: 80vh;
    margin:  auto;
    padding: 40px 0;
    position: relative;

}
.register-optn-box-active{
  outline: 2px solid blue;

}
.college-official-optn:focus{
  outline: 3px solid rgb(4, 82, 150);
box-shadow: 2px 3px 10px rgb(171, 171, 171),-3px -3px 10px rgb(190, 190, 190);
}
.form-next-btn{
  position: absolute;
  left: 40%;
  justify-content: center;
  bottom: 10%;
  outline: 2px solid blue;
  align-items: center;
  display: flex;
  height: 80px;
  width: 80px;
  box-shadow: 2px 3px 10px rgb(174, 213, 247),-2px -3px 10px rgb(136, 196, 236);
  border-radius: 50%;
}
.college-official-form-wrapper{
  position: absolute;
  transition: all 1s;
  margin: auto;
  /* top: 0; */
  /* flex-direction: column; */
  display: flex;
  width: 100%;
  align-items: center;
  /* bottom: 0; */
  justify-content: center;
}
.reference-img{
  width: 30px;
  margin-top: 10px ;
  
}
.college-official-optn {
  width: 130px;
  height: 130px;
  /* line-height: 60px; */
  padding: 5px 20px;
  margin: 5px 10px;
  border: 0;
  outline: 2px solid #007bff;
  font-size: 1.2rem;
  color: #007bff;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  letter-spacing: 0.104rem;
  text-align: center;
}  
.centered-box {
  border-radius: 10px;
  padding: 50px;
  width: 100%;
  
  box-shadow: 2px 2px 2px 2px rgb(51, 114, 250);
}
.regform-group-custom
{
  width:400px ;
}
.centered-box-row{
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;

}
.password-match-msg{
  margin: 10px;
  color: red;
  font-size: 15px;
  /* text-transform: capitalize; */
}
.nav-tohome {
  color: #007bff;
  display: flex;
  text-decoration: none;
  font-size: larger;
}
.btnDefault {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  transition: all 1s;
}

.btnClicked {
  background-color: #ff0000; /* Red background color when clicked */
  color: white;
  border: none;
  cursor: pointer;
  padding: 2px 20px;
  border-radius: 15px;
  transition: all 0.5s;
  margin: 5px 20px;
}

.reg-rightside {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  position: relative;
}

.btnDefault {
  background-color: #466a9f;
  color: white;
  border: none;
  cursor: pointer;
  padding: 2px 20px;
  border-radius: 5px;
  margin: 5px 20px;
}
.reference-tag
{
  padding: 2px;
}


.Parent {
  padding: 20px;
  border-radius: 10px 10px 10px 100px;
  box-shadow: 2px 4px 2px 2px rgb(145, 141, 141);
}

.leftSide {
  background-color: rgb(51, 40, 209);
  /* border: 2px solid rgb(12, 12, 12); */
  border-radius: 25px 100px 25px 100px;
}
.registerclass {
  background-color: #f58c8c !important;
}

.LeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%; /* Fill the height of the LeftSide */
  padding: 20px;
  min-height: 600px;
}

.LeftImage {
  max-width: 100%; /* Ensures the image is responsive */
  height: auto;
}

.lheading {
  font-size: 24px; /* Adjust font size for responsiveness */
  color: rgb(245, 247, 248);
  margin-top: 20px;
  text-align: center;
}

/* .rightSide {
    
} */
/* Default styles */
.reference-heading {
  font-size: 24px;
  text-align: center;
}

/* Responsive text sizing for smaller screens */
@media (max-width: 768px) {
  .rheading {
    font-size: 20px;
  }
  .reference-heading {
    font-size: 18px;
  }
}

.rheading {
  font-size: 40px;
  color: rgb(123, 127, 129);
  text-align: center;
}

.lheading {
  color: rgb(245, 247, 248);
  margin-top: 20px;
}

.form-control {
  border-radius: 10px;
  font-size: 18px;
  text-align: left;
}

.input {
  margin-top: 4rem;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
  .Parent {
    padding: 10px;
  }

  .leftSide {
    border-radius: 10px;
    height: 30vh;
  }
.LeftImage{
  max-width: 40% !important;
}
  .rightSide {
    margin-left: 0;
  }

  .rheading {
    font-size: 30px;
  }

  .lheading {
    margin-top: 10px;
  }

  .form-control {
    font-size: 16px;
  }

  .input {
    margin-top: 2rem;
  }
}


/* Adjust the font size for the heading and label */
.govt-id-heading,
.file-input-label {
  font-size: 18px;
}

/* Form.css */

.college-official-form {
  width: 100%;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.college-official-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.college-official-form input {
  width: 90%;

  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.dropdown-dept div{
  margin: 0 !important;
}
.college-official-email {
  border-color: #3498db;
}

.college-official-username {
  border-color: #2ecc71;
}

.college-official-password {
  border-color: #e74c3c;
}

.error-message {
  color: #e74c3c;
  margin-top: 5px;
  font-size: 14px;
}

@media screen and (max-width:1000px) {
  .registration-optn{
    flex-direction: column;
  }
  .LeftContainer{
    height: 20vh;
    min-height: 100%;
  }
  .college-official-optn{
    width: 95px;
    height: 95px;
  }
  .centered-box-row{
    width: 100vw;
  }
  .centered-box{
    width: auto;
    padding: 20px 10px;
  }
  .container{
    overflow: hidden;
  }
  .registration-optn{
    top: 0;
    bottom: 0;
    right: 0;
  }
  .register-optn-wrapper{
    height: 50vh;
  }
  .regform-group-custom{
    width: 350px;
  }
  .college-official-form input{
    width: 91%;
  }
}
@media screen and (max-width:500px) {
  .regform-group-custom{
    width: 330px;
  }
}@media screen and (max-width:400px) {
  .regform-group-custom{
    width: 300px;
  }
}