  .user-image{
    margin : 20px; 
  }
  label span{
    margin-left :20px;
    font-size: 20px;
  }
  .topbars{
    padding-top: 20px;
    margin-top: 0px;
    margin-bottom : 20px;
    border-top-right-radius: 1cm;
    border-top-left-radius: 1cm;
    background-color: #0275d8;
    border:1px solid #0275d8;
  }
  .top-container{  
    border : 1px solid #0275d8;
    border-radius:1cm;
    padding : 0px;
    margin: 2% 10%;
  }
  
  h1 {
    font-size: 25px;
    color: aliceblue; 
    margin: 0;
    text-align: center;
  }

  .row{
    border-spacing: 10px; 
    padding: 10px;
  }  
  .row2{
    border-spacing: 10px; 
    padding: 10px; 
  }  
  .empty-container{
    width : 40%;
    height : 50px;
    border : 1px solid #0275d8;
    border-radius:1em;
    position : relative;
    margin-left: 2%;
  }
  .row-underline{
    border-bottom: 1px solid #ccc;
  }
  .popup-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  .popup-button:hover {
    background-color: #0056b3;
  }
  /* Style for the dialog container */
  .dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  /* Style for the dialog content */
  .dialog-content {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    max-width: 500px;
    padding: 0 15px;
  }
  /* Style for the close icon */
  .close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    border: none;
    color: #333;
    cursor: pointer;
    padding: 0;
  }

  .popup-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }