/* BookingDetails.css */

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #0275d8;
    color: #fff;
    padding: 10px;
  }
  
  .form-group {
    margin-right: 20px;
  }
  
  label {
    font-size: 24px;
    display: block;
    margin-bottom: 10px;
  }
  
  .form-control {
    padding: 5px;  
    background-color: transparent;
    color: #fff;
  }
  
  .form-control[readonly] {
    background-color: transparent;
    color: #fff;
    border: none;
  }
  .inputs{
    font-size: 20px;
  }

  .changeSelection{
    font-size: 30px;
    margin-left: 10px;
  }