@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

.header-create-admin {
    font-family: 'Barlow', sans-serif;
    /* text-align: center; */
}

.label-create-admins {
    font-family: 'Barlow', sans-serif;
    font-size:medium;
}
.create-admins-boxes {
    margin: 0px;
}
.container-create-admin{
    width: 500px;
    padding: 20px;
    /* border: 1px solid red; */
    box-shadow: 1px 2px 2px 1px rgb(164, 173, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
}
.box-create-admin {
    margin: 5px 0px 20px;
}

