
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kablammo&family=Montserrat:wght@600&family=Poppins:wght@200;400&family=Readex+Pro:wght@700&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Poppins' !important;
}

.forgetmain1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    /* margin-top: 20px; */
    margin-bottom: 40px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
    /* color: azure; */
    
  }
  
  .forgetmain1 > p {
    text-align: center;
    margin-top: 10px;
  }
  
  .forgethead1 {
    width: 100%;
    background-color:#0072cf;
    height: 30px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
      color: azure;
  }
  
  .forgetform1 {
    margin-left: 3px;
    margin-top: 10px;
  }
  
  .forgetbook {
    width: 20%;
    height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    background-color:#0072cf;
      color: azure;
  }
  
  .forgetbook:hover {
    background-color: #fefefe; 
    color: #000;
  }
  
  .forgetinputbox {
    width: 200px;
    height: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
  
  .forgetbreaker {
    display: none;
  }
  
  @media only screen and (max-width: 1000px) {
    body {
      font-size: 30px;
    }
  
    .forgetmain1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10%;
      overflow: hidden;
      border: 1px solid black;
      border-radius: 10px;
    }
  
    .forgetmain1 > p {
      font-size: 50px;
      margin-top: 50px;
    }
  
    .forgethead1 {
      width: 100%;
      background-color: rgb(80, 221, 228);
      height: 60px;
      text-align: center;
      padding-top: 20px;
      font-size: 25px;
    }
  
    .forgetform1 {
      margin-left: 3px;
      margin-top: 35px;
      font-size: 25px;
    }
  
    .forgetbreaker {
      display: block;
    }
  
    .forgetbook {
      padding-top: 10px;
      width: 200px;
      height: 40px;
    }
  
    .forgetbook:hover {
      background-color: rgb(138, 199, 179);
    }
  
    .forgetinputbox {
        display: block;
        /* float: none; */
        margin-left: auto;
        margin-right: auto;
        
      margin-top: 20px;
      width: 80%;
      height: 40px;
      font-size: 25px;
    }
  }
  