
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kablammo&family=Montserrat:wght@600&family=Poppins:wght@200;400&family=Readex+Pro:wght@700&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Poppins' !important;
}


.resetmain1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10%; */
    overflow: hidden;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  .resetmain1 > p {
    text-align: center;
    margin-top: 10px;
  }
  
  .resethead1 {
    width: 100%;
    background-color:#0072cf;
    height: 30px;
    text-align: center;
    /* padding-top: 20px; */
    margin-bottom: 30px;
    font-size: 20px;
    color: azure;
  }
  
  .resetform1 {
    margin-left: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
  
  .resetbook {
    width: 20%;
    height: 25px;
    /* padding-top: 5px; */
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    background-color:#0072cf;
    color: azure;
  }
  
  .resetbook:hover {
    background-color: #fefefe; 
    color: #000;
  }
  
  .resetinputbox {
    width: 200px;
    height: 30px;
    margin-left: 50px;
  }
  
  .resetinputbox1 {
    width: 200px;
    height: 30px;
    /* margin-left: 30px; */
    margin-left: 30px;
  }
  
  .resetbreaker {
    display: none;
  }
  
  @media only screen and (max-width: 1000px) {
  
    .registeredemail{margin-left: 50px;

    }
    .resetinputbox{
      width: 250px;
      margin-left: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      
    }
    .resetinputbox1{
      width: 250px;
      margin-left: 20px;
      margin-top: 10px;
      
      margin-bottom: 10px;
      
    }
  }

  